.parent {
  display: grid;
  grid: "header header header" "main main sidebar" "footer footer footer";
}

.child {
  text-align: center;
  border-radius: 2px;
}

.child:nth-child(1) {
  grid-area: header;
  background-color: red;
}

.child:nth-child(2) {
  grid-area: main;
  background-color: blue;
}

.child:nth-child(3) {
  grid-area: sidebar;
  background-color: green;
}

.child:nth-child(4) {
  grid-area: footer;
  background-color: skyblue;
}
