* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
  display: grid;
  place-items: center;
  font-size: x-large;
}
